%h1 Hello World!
%i.fas.fa-home
%p Home icon
= link_to "Privacy Policy", privacy_policy_path
= link_to privacy_policy_path do
  %i.fas.fa-file-word
  Privacy Policy

= link_to courses_path class: 'btn btn=success' do
  .fa.fa-book
  Courses